@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
/* Pages */
.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  text-align: center;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
}

/* Hero */
.hero {
  background-image: url(/images/hero/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
/* Advantages */
.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.black-title {
  color: #000000;
}

.reasons {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.advantages-item {
  align-items: center;
  padding: 80px 85px;
  text-align: center;
}

.blue-box {
  color: #ffffff;
  background: #82b3d3;
}

.light-blue-box {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
/* Кнопка подписаться */
.newsletter-button {
  padding: 8px 50px;
  height: 52px;
  background: #82b3d3;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.main-subscribe {
  background: #ffffff;
}

/* Footer */
.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
